* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.main {
  background-image: url("img/backgroundiimage.jpeg");
  height: 650px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ul {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  padding: 15px;
}

.li {
  padding: 20px;
  list-style: none;
}
.li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.logo-image {
  cursor: pointer;
height: 280px;
  width: 280px;
}

.li a:hover {
  color: #8c799c;
}

.header-content {
  margin-left: 300px;
  width: 25%;
  color: white;
}

.header-content p {
  margin-top: 0.9rem;
}
.header-content button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-weight: bold;
  border: none;
  display: inline;
  border-radius: 5px;
}
.btn1 {
  background-color: yellow;
  color: black;
  display: inline;
}
.btn1:hover {
  background-color: rgb(238, 238, 123);
}

.btn2 {
  background-color: rgb(70, 38, 70);
  color: white;
  display: inline;
  position: relative;
  bottom: 56px;
  left: 200px;
}
.btn2:hover {
  background-color: rgb(121, 68, 121);
}

.main-data {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-data-text {
  width: 40%;
  color: rgb(53, 49, 49);
}

.row {
  margin: 0 10rem;
}
.row-check {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin: auto;
  width: 14%;
  text-align: center;
}
h5 {
  line-height: 40px;
  font-weight: bold;
}
.btn11 {
  width: 10rem;
  font-weight: bold;
  background-color: rgb(145, 152, 248);
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
.btn11:hover {
  background-color: rgb(202, 202, 51);
}
.btn12 {
  font-weight: bold;
  background-color: rgb(73, 73, 223);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 10rem;
}
.btn12:hover {
  background-color: rgb(22, 22, 223);
}
.btn13 {
  font-weight: bold;
  background-color: rgb(105, 26, 105);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 10rem;
}
.btn13:hover {
  background-color: rgb(202, 15, 202);
}

@media (max-width: 1213px) {
  .header-content {
    margin-left: 220px;
    width: 25%;
  }
}

.demo
{
	padding: 50px 0;
}
.heading-title
{
	margin-bottom: 50px;
}
.pricingTable {
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0 -15px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}

.pricingTable:hover{
    border: 2px solid #e46367;
    margin-top: -30px;
}

.pricingTable .pricingTable-header{
    padding: 30px 10px;
}

.pricingTable .heading{
    display: block;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size:21px;
}

.pricingTable .pricing-plans {
    padding-bottom: 25px;
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-weight: 900;
}

.pricingTable .price-value{
    color: #474747;
    display: block;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
    padding: 0 10px;
}

.pricingTable .price-value span{
    font-size: 50px;
}

.pricingTable .subtitle{
    color: #82919f;
    display: block;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.pricingTable .pricingContent ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.pricingTable .pricingContent ul li{
    padding: 20px 0;
}

.pricingTable .pricingContent ul li:nth-child(odd) {
    background-color: #fff;
}

.pricingTable .pricingContent ul li:last-child{
    border-bottom: 1px solid #dbdbdb;
}

.pricingTable .pricingTable-sign-up{
    padding: 25px 0;
}

.pricingTable .btn-block{
    width: 50%;
    margin: 0 auto;
    background: #e46367;
    border:1px solid transparent;
    padding: 10px 5px;
    color:#fff;
    text-transform: capitalize;
    border-radius: 5px;
    transition:0.3s ease;
}

.pricingTable .btn-block:after{
    content: "\f090";
    font-family: 'FontAwesome';
    padding-left: 10px;
    font-size: 15px;
}

.pricingTable:hover .btn-block{
    background:#fff;
    color: #e46367;
    border:1px solid #e46367;
}

@media screen and (max-width:990px){
    .pricingTable{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:767px){
    .pricingTable{
       margin: 0 0 30px 0;
    }
}@charset "utf-8";
/* CSS Document */


.contact-area {
  margin-top: 70px;
  display: flex;
}
.contact-form {
  padding: 1rem;
  background-color: rgb(218, 49, 7);
  width: 100%;
}
button {
  width: 190px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 6px;
}
